@model IEnumerable<AmeCaseBookOrg.Models.MainCategory>
@using MvcJqGrid
@using MvcJqGrid.Enums
@{
    ViewBag.Title = "Common Code";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}
<div id="sub_tit">
    <ul>
        <li>Common Code</li>
    </ul>
</div>

<script type="text/javascript">
    var mainCategoryGrid = { demo: {} };

    mainCategoryGrid.demo.buttonize = function (cellvalue, options, rowobject) {
        return '<a onclick="return mainCategoryGrid.demo.edit(' + options.rowId + ')" href="#"><div class="ui-icon ui-icon-pencil" style="display:inline-block"></div></a>' +
               '<a onclick="return mainCategoryGrid.demo.delete(' + options.rowId + ')" href="#"><div class="ui-icon ui-icon-trash" style="display:inline-block"></div></a>';

    }

    mainCategoryGrid.demo.edit = function (id) {
        alert("Edit for  " + id);
        return false;
    }

    mainCategoryGrid.demo.delete = function (id) {
        alert("Delete for  " + id);
        return false;
    }
    function onMainRowSelected(rowid, status) {
        $("#mainCode").val(rowid);
        $("#txtSelectedCode").html("Select top code: " + rowid);
        $("#subCategoryGrid").jqGrid('setGridParam', { url: '/CommonCode/SearchSubCode?mainCode=' + rowid }).trigger('reloadGrid');
    }
    
    var subCategoryGrid = { demo: {} };

    subCategoryGrid.demo.buttonize = function (cellvalue, options, rowobject) {
        return '<a onclick="return subCategoryGrid.demo.edit(' + options.rowId + ')" href="#"><div class="ui-icon ui-icon-pencil" style="display:inline-block"></div></a>' +
               '<a onclick="return subCategoryGrid.demo.delete(' + options.rowId + ')" href="#"><div class="ui-icon ui-icon-trash" style="display:inline-block"></div></a>';

    }

    subCategoryGrid.demo.edit = function (id) {
        alert("Edit for  " + id);
        return false;
    }

    subCategoryGrid.demo.delete = function (id) {
        alert("Delete for  " + id);
        return false;
    }
</script>
<div id="contents">
    <div class="navi"> Home > Admin > <span>Common Code</span> </div>
    <div style="width:960px;margin:0 auto;">
        <div class="myinfo_t2" style="width:450px;float:left;padding-right:10px;border-right:1px dotted #999;">
            <h1 style="font-size:15px;">Main Code</h1>
            <p>&nbsp;</p>
         
            @using (Html.BeginForm("CreateMainCode", "CommonCode", FormMethod.Get))
            {
            @Html.AntiForgeryToken();
            <input name="btnCreateSubCode" type="submit" value="Add Record" class="bt_green" />
            }

             @(Html.Grid("mainCategoryGrid")
            .SetRequestType(RequestType.Post)
            .SetJsonReader(new MvcJqGrid.DataReaders.JsonReader { Id = "Code", RepeatItems = false })
            .SetRowNumbers(true)
            .AddColumn(new Column("Code").SetLabel("Code"))
            .AddColumn(new Column("CodeName").SetLabel("Code Name"))
            .AddColumn(new Column("URL").SetLabel("URL"))
            .AddColumn(new Column("Memo").SetLabel("Memo"))
           .AddColumn(new Column("&nbsp;").SetSearch(false).SetCustomFormatter("mainCategoryGrid.demo.buttonize")
                                        .SetWidth(55)
                                    .SetAlign(Align.Right))
            .SetUrl(Url.Action("SearchMainCode", "CommonCode"))
            .SetAutoWidth(true)
            .SetRowNum(10)
            .SetRowList(new[] { 10, 15, 20, 50 })
            .SetViewRecords(true)
            .SetPager("pager")
            .SetSearchToolbar(false).SetSearchOnEnter(false)
            .OnSelectRow("onMainRowSelected(rowid, status)")        
            )

        </div>
        <div class="myinfo_t2" style="width:450px;float:left;padding-left:10px;">
            <h1 style="font-size:15px;">Sub Code</h1>
            
            @{
                string url = "/CommonCode/SearchSubCode";
            }
            @using (Html.BeginForm("CreateSubCode", "CommonCode", FormMethod.Get))
            {
                @Html.AntiForgeryToken();
                int maincode = 0;
                if (Model.First() != null)
                {
                    maincode = Model.First().Code;
                    url += "?mainCode=" + maincode;
                    <p id="txtSelectedCode" style="color:#9d9d9d;">Select top code: @maincode</p>
                }
                else
                {
                    <p id="txtSelectedCode" style="color:#9d9d9d;">&nbsp;</p>
                }
                <input type="hidden" name="mainCode" id="mainCode" value="@maincode" />
                            <input name="btnCreateSubCode" type="submit" value="Add Record" class="bt_green" />
            }             
            @(Html.Grid("subCategoryGrid").SetUrl(url)
            .SetRequestType(RequestType.Post)
            .SetJsonReader(new MvcJqGrid.DataReaders.JsonReader { Id = "Code", RepeatItems = false })
            .SetRowNumbers(true)
            .AddColumn(new Column("Code").SetLabel("Code"))
            .AddColumn(new Column("CodeName").SetLabel("Code Name"))
            .AddColumn(new Column("URL").SetLabel("URL"))
            .AddColumn(new Column("Memo").SetLabel("Memo"))
           .AddColumn(new Column("&nbsp;").SetSearch(false).SetCustomFormatter("subCategoryGrid.demo.buttonize")
                                        .SetWidth(55)
                                    .SetAlign(Align.Right))
            .SetAutoWidth(true)
            .SetRowNum(10)
            .SetRowList(new[] { 10, 15, 20, 50 })
            .SetPager("pager1")
            .SetSearchToolbar(false).SetSearchOnEnter(false)
            )
        </div>
    </div>
</div>

