@{
    ViewBag.Title = "Admin Page";
}

<div id="sub_tit">
    <ul>
        <li>Admin</li>
    </ul>
</div>
<div id="contents">
    <div class="navi"> @Html.ActionLink("Home", "Index", "Home") > <span>Admin</span> </div>
    <div id="adm_index">
        <h1> This screen is for administration.</h1>
        <ul>
           <li><a href="#"><i class="fa fa-arrow-right"></i> @Html.ActionLink("Member Management", "Index", "Member")</a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i> @Html.ActionLink("Menu Management", "Index", "MenuAdmin") </a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i> @Html.ActionLink("Common Code", "Index", "CommonCode")</a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i> @Html.ActionLink("Permission Management", "Index", "Permission")</a></li>
            <li> <a href="#"><i class="fa fa-arrow-right"></i> @Html.ActionLink("Data Management", "Index", "DataManagement") </a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i> @Html.ActionLink("Notification Management", "Index", "Announcement")  </a></li>
        </ul>



    </div>
</div>