@model AmeCaseBookOrg.Models.CommunityTopic
@{
    ViewBag.Title = "View";
}

<div id="sub_tit">
    <ul>
        <li>Member Community</li>
    </ul>
</div>
<div id="contents">
    <div class="navi">
     @Html.ActionLink("Home", "Index", "Home") ><a href="~/Communication/Index/0/0" class="ali">Communication</a>   > <span>Member Community</span>
    </div>
    <div class="datail_v">
        <ul class="luxe-post-share" style="text-align:right;">
            <a href="http://www.facebook.com/" target="blank" title="Facebook" class="socialico-facebook"></a>
            <a href="http://twitter.com/" target="blank" title="Twitter" class="socialico-twitter"></a>
        </ul>
        <label>
            <a href="~/Community/Edit/@Model.ID" class="bt_blue_t"> <i class="fa fa-pencil-square-o"> </i> Edit </a>
            <a href="~/Community/Index" class="bt_blue_t"> <i class="fa fa-list"></i> List </a>
        </label>
        <h1>@Model.Title	</h1>
        <h2>Secretariat | <span style="font-weight:normal;">@Model.InsertDate | Hit @Model.Hit</span> <span style="float:right;"><a href="#"><i class="fa fa-print"></i> Print </a></span></h2>
        <ul class="da_text">
            <li style="float:left;text-align:left;width:850px;padding:50px;">
                @Html.Raw(Model.Content)
            </li>
            <li style="float:left;width:960px;border-bottom:1px double #ccc;color:#F60;"> 
            <i class="fa fa-file"></i>  attached file :
            @foreach (var file in Model.AttachmentFiles)
            {
                <br />
                <a href="~/File?id=@file.FileId"> @file.FileName</a>
            }
                
            </li>
        </ul>
        <ul class="reply"  id="lstComment">
            <li style="float:left;width:960px;border-bottom:1px double #ccc;line-height:40px;"> <i class="fa fa-twitch"></i> Comment </li>
            @foreach (var comment in Model.CommuityTopicComments)
            {
                <li id="comment_@comment.ID">
                    <span>@comment.CommentUser.FullName (@comment.ComemmentTime): </span>
                    @comment.Content
                    <a href="#" onclick="deleteComment(@comment.ID); return false;"><i class="fa fa-times" style="color:#F00"></i></a>
                </li>
            }
        </ul>
        <ul class="reply">
            @if (!Request.IsAuthenticated)
            {
                <li style="padding-top:10px;">
                    <ul style="width:90%;padding:10px;margin:0 auto;" class="re_input">
                        <li>You need login to leave a message here @Html.ActionLink("Login", "Login", "Account")</li>
                    </ul>
                </li>
            }
            else
            {
                using (Html.BeginForm("Comment", "Community", new { topic = Model.ID }, FormMethod.Post, new { id = "commentForm" }))
                {
                    <li style="padding-top:10px;">
                        @Html.Hidden("topic", Model.ID, null)
                        @Html.TextArea("comment", null, new { @class = "fre_input", placeholder = "Comment", style = "width:950px;height:50px;margin-top:10px;padding:10px;" })
                        <a href="#" onclick="comment(); return false;" class="bt_blue_t" style="float:right;margin:10px;margin-right:-20px"> <i class="fa fa-share"></i> Comment Save</a>
                    </li>
                }                
            }            
        </ul>
        <script type="text/javascript">
                function comment() {
                    var frmData = $("#commentForm").serialize();

                    $.ajax({ url: "/Community/Comment", data: frmData, method: "POST" }).done(function (data) {
                        if (data.status != 200) {
                            alert("Cannot create a comment");
                            return;
                        }
                        var html = "<li id='comment_"+data.data.Id+"'>";
                        html += "<span>" + data.data.Name + "(" + data.data.ComemmentTime + "): </span>" + data.data.Content;
                        html += " <a href='#' onclick='deleteComment("+ data.data.Id +"); return false;'><i class='fa fa-times' style='color:#F00'></i></a>";
                        html += "</li> ";
                        $("#lstComment").append(html);
                    })
                }
                function deleteComment( commentId) {
                    var r = confirm("Are you sure you want to delete?");
                    if (r == true) {
                        $.ajax({ url: "/Community/DeleteComment", data: { id: commentId }, method: "POST" }).done(function (data) {
                            if (data == "") {
                                alert("You don't have permission to delete this comment!");
                                return;
                            }
                            else if (data.status != 200) {
                                alert("Cannot delete this comment");
                                return;
                            }
                            $("#comment_" + commentId).remove();
                        }).fail(function (data) {
                            alert("You don't have permission to delete this comment!");
                        })
                    }

                }
        </script>
    </div>
</div>

