@model AmeCaseBookOrg.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}

<div id="sub_tit">
    <ul>
        <li>Change your password.</li>
    </ul>
</div> 
<div id="contents">
    <div class="navi"> 
        @Html.ActionLink("Home", "Index", "Home") > <span>Change Password</span> 
    </div>
   @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
   {
    @Html.AntiForgeryToken()
     <div class="datail_v">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="myinfo_add_ta">
                <table>
                    <tr>
                        <th><i class="fa fa-chevron-circle-right"> </i> Current password</th>
                        <td colspan="3">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "re_input", @style = "width:300px;text-align:left;padding-left:10px;" })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </td>
                     </tr>
                    <tr>
                        <th><i class="fa fa-chevron-circle-right"> </i> New Password</th>
                        <td  colspan="3">
                           @Html.PasswordFor(m => m.NewPassword, new { @class = "re_input", @style = "width:300px;text-align:left;padding-left:10px;" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                         </td>
                    </tr>
                    <tr>
                        <th><i class="fa fa-chevron-circle-right"> </i> Confirm New Password</th>
                        <td  colspan="3">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "re_input", @style = "width:300px;text-align:left;padding-left:10px;" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" rowspan="5" style="height:80px;border:0px;">
                            <ul class="bt_blue" style="padding-right:10px;">
                                <li>
                                    <input type="submit" value="Change password" class="bt_blue_button" style="color:#fff;" />
                                </li>

                            </ul>
                        </td>
                    </tr>
                 </table>
        </div>
    </div>
   }
</div>