@using MvcJqGrid
@using MvcJqGrid.Enums

@{
    ViewBag.Title = "Announcements";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}

<script type="text/javascript">

    function FormatViewLink(cellValue, options, rowObject) {
        var linkHtml = '<a onclick="onSelectItem();" href="/Announcement/View?id=' + options.rowId + '"><b>' + cellValue + '</b></a>';
        
       return linkHtml;
    }
    function onSelectItem() {
        $.jgrid.saveState("announcementgrid");
        return true;
    }
 
    function OnLoadComplete() {
        //$.jgrid.loadState("announcementgrid", { clearAfterLoad: true });
    }
</script>
<div id="sub_tit">
    <ul>
        <li>Announcements</li>

    </ul>

</div>


    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {               
         <div class="navi">
             @Html.ActionLink("Home", "Index", "Home") >@Html.ActionLink("Admin", "Index", "Admin")  > <span>Announcements Management</span>
         </div>
    }
    else
    {
        <div class="navi">
            @Html.ActionLink("Home", "Index", "Home") ><a href="~/Communication/Index/0/0" class="ali">Communication</a>   > <span>Announcements</span>
         </div>
    }

    <div class="myinfo_t2" style="width: 960px">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Add Record", "Create", new { controller = "Announcement" }, new { @class = "bt_green" })
        }
        
        @(Html.Grid("announcementgrid")
        .SetRequestType(RequestType.Post)
        .SetJsonReader(new MvcJqGrid.DataReaders.JsonReader { Id = "ID", RepeatItems = false })
        .AddColumn(new Column("Title").SetSortable(false).SetLabel("Title").SetSearch(true).SetCustomFormatter("FormatViewLink"))
        .AddColumn(new Column("InsertDate").SetFormatter(Formatters.Date).SetSortable(false).SetLabel("Insert Date").SetSearch(false))
        .AddColumn(new Column("EditDate").SetFormatter(Formatters.Date).SetSortable(false).SetLabel("Edit Date").SetSearch(false))
        .AddColumn(new Column("Author").SetSortable(false).SetLabel("Author").SetSearch(false))

    .SetUrl(Url.Action("Search", "Announcement"))
    .SetAutoWidth(true)
    .SetRowNum(15)
    .SetRowNumbers(true)
    .SetRowList(new[] { 15, 30, 50 })
    .SetViewRecords(true)
    .SetPager("pager")
    .SetSearchToolbar(true)
    .SetSearchOnEnter(true)
    .OnLoadComplete("OnLoadComplete()")
     )
    </div>
<script>
   
    var reloadData = "@ViewBag.ReloadData";
    if (reloadData.length > 0) {
        removeGridCacheData("announcementgrid");
    } else {
        $.jgrid.loadState("announcementgrid", {}, { clearAfterLoad: true });
    }
</script>