@{
    ViewBag.Title = "Home Page";
    IEnumerable<AmeCaseBookOrg.Models.Announcement> announcements = ViewBag.Announcements;
    IEnumerable<AmeCaseBookOrg.Models.SubCategory> countries = ViewBag.Countries;
    IEnumerable<AmeCaseBookOrg.Models.ApplicationUser> contributors = ViewBag.Contributors;

}

<div id="banner">
    <div id="slides"> <img src="~/img/01.jpg" alt="ad01"> <img src="~/img/02.jpg" alt="ad02"> <img src="~/img/03.jpg" alt="ad03"></div>
</div>
<div id="main_c">
    <div>
        <div class="announcements">
            <h1><span style="display:none">announcements</span></h1>
            <ul>
                @foreach (var item in announcements)
                {
                    <li>
                        <span class="day">@item.InsertDate</span><br />
                        <a href="/Announcement/View?id=@item.ID">@item.Title  </a><br />
                        @*@Html.Raw(item.Content)*@
                    </li>
                }
              
            </ul>

        </div>

        <div class="participants">
            <h2><span style="display:none">participants</span></h2>
            <ul>

                @for (int i = 0; i <= countries.Count() / 7; i++)
                {
                    <li>
                        @for (int j = 0; j < 7; j++)
                        {
                            int index = i * 7 + j;
                            if (index < countries.Count())
                            {
                                AmeCaseBookOrg.Models.SubCategory country = countries.ElementAt(index);
                                <a href="~/DataItem/List/0/@country.Code"><img src="~/File?id=@country.ImageFileID" width="32" height="23" alt="@country.CodeName" /></a>
                            }
                        }

                    </li>
                    
                   
                }
              
            </ul>
        </div>
    </div>
</div>
<div id="contributors">
    <div class="tit">
        <h1>CONTRIBUTORS</h1>
        @foreach (var contributor in contributors)
        {
            <div class="boxgrid slideright">
                <img class="cover" src="~/File?id=@contributor.FileId">
                <h2> @contributor.FullName</h2>
                <h3> @contributor.Introduction</h3>
                <p>Affiliation: @contributor.Affiliation</p>
                <p> Country: @contributor.Country.CodeName</p>
            </div>
        }
        


    </div>
</div>