@using AmeCaseBookOrg.Models
@model LoginViewModel
@{
    ViewBag.Title = "Casebook Login";
}

<div id="sub_tit">
    <ul>
        <li>Casebook Login</li>
    </ul>
</div>

<div id="contents">
    <div class="navi"> Home > <span>Login</span> </div>
    <div id="lg_wrap">
        <div class="login">
            
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1> User your casebook account</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <ul class="log_w">
                    <li class="log_lef"> E-mail </li>
                    <li class="log_input">
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </li>
                    <li class="log_lef">Password </li>
                    <li class="log_input"> 
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </li>
                    <li class="f_pw"> <a href="pw.asp" style="color:#50aada;">forgot password?</a></li>
                    <li style="float:left;width:300px;line-height:30px;text-align:right;font-size:14px;">
                        @Html.CheckBoxFor(m => m.RememberMe) Keep me logged in
                    </li>
                </ul>

                <ul class="bt_login">
                    <li>
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </li>
                </ul>
            }
            

        </div>
        <div class="login" style="border:0;">
            <h2> Connect with</h2>
            <ul class="log_w">
                <li class="google_bt"> <a href="#" class=" bold">Google</a></li>
                <li class="face_bt"> <a href="#" class="bold">Facebook</a></li>
            </ul>


        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}