@model AmeCaseBookOrg.Models.ApplicationUser
@using MvcJqGrid
@using MvcJqGrid.Enums

@{
    ViewBag.Title = "My Information";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}

<div id="sub_tit">
    <ul>
        <li>My Information</li>

    </ul>

</div>
<script  type="text/javascript">
    function FormatViewLink(cellValue, options, rowObject) {
        var linkHtml = '<a href="/DataManagement/View?id=' + options.rowId + '"><b>' + cellValue + '</b></a>';

        return linkHtml;
    }
</script>
<div class="navi">
    @Html.ActionLink("Home", "Index", "Home") > <span>My Information</span>

</div>
@using (Html.BeginForm("EditAccount","Account",FormMethod.Get, new { id = "newForm" }))
{
    @Html.AntiForgeryToken()
    <div class="myinfo_t">
        <table>
            <tr>
                <td rowspan="5" style="width:200px;padding:15px;text-align:center;"><img style="width:200px;" src="~/File?id=@Model.FileId" alt="avatar" /></td>
                <th> <i class="fa fa-chevron-circle-right"></i> Name </th>
                <td colspan="3" class="border_right">@Html.DisplayFor(model => model.FullName)</td>
            </tr>
            <tr>
                <th> <i class="fa fa-chevron-circle-right"></i> Tel </th>
                <td>@Html.DisplayFor(model => model.PhoneNumber) </td>
                <th> <i class="fa fa-chevron-circle-right"></i> Email </th>
                <td class="border_right">@Html.DisplayFor(model => model.Email) </td>
            </tr>
            <tr>
                <th><i class="fa fa-chevron-circle-right"></i> Address </th>
                <td colspan="3" class="border_right"> </td>
            </tr>
            <tr>
                <th><i class="fa fa-chevron-circle-right"></i> Country </th>
                <td>@Html.DisplayFor(model => model.Country.CodeName) </td>
                <th> <i class="fa fa-chevron-circle-right"></i> Affiliation </th>
                <td class="border_right">@Html.DisplayFor(model => model.Affiliation) </td>
            </tr>
            <tr>
                <th><i class="fa fa-chevron-circle-right"></i> Introduction </th>
                <td>@Html.DisplayFor(model => model.Introduction) </td>
                <th><i class="fa fa-chevron-circle-right"></i> Link In </th>
                <td class="border_right">@Html.DisplayFor(model => model.LinkIn) </td>
            </tr>
            <tr>
                <td colspan="5" rowspan="5" style="height:80px;border:0px;">
                    @Html.HiddenFor(model => model.UserName)
                    <ul class="bt_blue" style="padding-right:10px;">
                        <li><a href="javascript:$('#newForm').submit()" class="bold" style="color:#fff;">EDIT</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
}
<div style="border-top: 1px solid #ddd;">
    <div class="myinfo_t2" style="width: 960px ; margin-top:10px">
        <h1>My case document list</h1>
        @Html.ActionLink("Add Record", "Create", new { controller = "DataManagement", ReturnedURL = "Account/MyInfo" }, new { @class = "bt_green" , @style = "margin-top:20px" })
        @(Html.Grid("myInfoGrid")
        .SetRequestType(RequestType.Post)
        .SetJsonReader(new MvcJqGrid.DataReaders.JsonReader { Id = "ID", RepeatItems = false })
        .SetCaption("My case document list")
        .AddColumn(new Column("SubMenuName").SetLabel("Category").SetSearch(false))
        .AddColumn(new Column("Title").SetLabel("Title").SetCustomFormatter("FormatViewLink"))
        .AddColumn(new Column("InsertDate").SetLabel("Insert date").SetFormatter(Formatters.Date).SetSearch(false))
        .AddColumn(new Column("EditDate").SetLabel("Edit date").SetFormatter(Formatters.Date).SetSearch(false))
        .AddColumn(new Column("Author").SetLabel("Author").SetSearch(false))

    .SetUrl(Url.Action("searchListItem", "DataItem", new { userName = Model.UserName }))
    .SetRowNumbers(true)
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new[] { 10, 15, 20, 50 })
    .SetViewRecords(true)
    .SetPager("pager")
    .SetSearchToolbar(true).SetSearchOnEnter(false)
        )
        </div>
 </div>
