@model AmeCaseBookOrg.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
}

<div id="sub_tit">
    <ul>
        <li>Reset Password</li>
    </ul>
</div> 
<div id="contents">
    <div class="navi">
        @Html.ActionLink("Home", "Index", "Home") > <span>Reset Password</span>
    </div>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="datail_v">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="myinfo_add_ta">
                <table>
                    <tr>
                        <th><i class="fa fa-chevron-circle-right"> </i> Email for your Casebook account</th>
                        <td colspan="3">
                            @Html.TextBoxFor(m => m.Email, new { @class = "re_input", @style = "width:300px;text-align:left;padding-left:10px;" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th><i class="fa fa-chevron-circle-right"> </i> Password</th>
                        <td colspan="3">
                            @Html.PasswordFor(m => m.Password, new { @class = "re_input", @style = "width:300px;text-align:left;padding-left:10px;" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th><i class="fa fa-chevron-circle-right"> </i> Confirm Password</th>
                        <td colspan="3">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "re_input", @style = "width:300px;text-align:left;padding-left:10px;" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" rowspan="5" style="height:80px;border:0px;">
                            <ul class="bt_blue" style="padding-right:10px;">
                                <li>
                                    @Html.HiddenFor(model => model.Code)
                                    <input type="submit" value="Reset" class="bt_blue_button" style="color:#fff;" />
                                </li>

                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>